<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dressrossa</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/7126/7126286.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">    
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
    </style>

  </head>
  <body>
    
  <div class="site-wrap">
    <header class="site-navbar" role="banner">
      <div class="site-navbar-top">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
              <form action="/search-item/?search" method="get" class="site-block-top-search">
                <span class="icon icon-search2"></span>
                <input type="text" class="form-control border-0" placeholder="Search" name="search">
              </form>
            </div>

            <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
              <div class="text-center mb-5">
                <a href="/" class="h1" style="font-family:pacifico; color: black;">Dressrossa</a>
              </div>

            </div>
            <div class="col-6 col-md-4 order-3 order-md-3 text-right">
              <div class="site-top-icons">
                <ul>
                  <!-- <li><a href="#"><span class="icon icon-person"></span></a></li> -->
                  <%if(user){%>
                    <div class="btn-group mr-3">
                      <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi! <%=  user.username%>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="/edit-profile">Edit Profile</a>
                        <a class="dropdown-item" href="/wishlist">Wishlist</a>
                        <a class="dropdown-item" href="/Cart">Cart</a>
                        <a class="dropdown-item" href="/orders">Orders</a>
    
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/logout">Logout</a>
                      </div>
                    </div>
                    <li><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
                  <li>
                    <a href="/cart" class="site-cart">
                      <span class="icon icon-shopping_cart"></span>
                      <span class="count" id="cart-count"><%= cartCount %></span>
                    </a>
                  </li>
                  <%}else{%>
                    <li><a href="/login"><span class="icon icon-person"></span></a></li>
                    <li><a href="/login"><span class="icon icon-heart-o"></span></a></li>
                    <li>
                      <a href="/login" class="site-cart">
                        <span class="icon icon-shopping_cart"></span>
                        <span class="count">0</span>
                      </a>
                    </li>
                  <%}%> 
                  <li class="d-inline-block d-md-none ml-md-0"><a href="/admin/view-product" class="site-menu-toggle js-menu-toggle"><span class="icon-menu"></span></a></li>
                </ul>
              </div> 
            </div>
          </div>
        </div>
      </div> 
      <nav class="site-navigation h-15 p-3 mb-5 bg-white text-right text-md-center" role="navigation" style="position: sticky;">
        <div class="container">
          <ul class="site-menu js-clone-nav d-none d-md-block">
            <li class="has-children">
              <a href="/">Home</a>
            </li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/new-arrivals">New Arrivals</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>
     